div {
    display: block;
    margin: none;
}

div h1 {
    padding: 5px 20px;
    text-align: center;
}

:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

.grid-container {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-template-rows: var(--nav-size) 
        calc(85vh - calc(var(--nav-size) / 2)) 
        calc(15vh - calc(var(--nav-size) / 2));
    height: 100vh;
}

.grid-item {
    padding: 1rem;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;
}

.grid-item h1 {
    margin: 0;
    padding: none;
    align-self: top;
}

.grid-item-wrapper {
    padding: 1.5rem;
    align-self: top;
}

.body {
    grid-area: 2 / 1 / 2 / 2;
    background-color: #7F7979;
    color: white;
}

.features {
    grid-area: 2 / 2 / 2 / 3;
    background-color: #3D3B3C;
    color: white;
    overflow-y: auto;
}

.documentation {
    grid-area: 2 / 3 / 2 / 4;
    background-color: #323031;
    color: white;
    overflow-y: auto;
}

.footer {
    grid-row: 3;
    grid-column: 1 / 4;
    background-color: #242526;
    color: white;
    padding: 1rem;
}

.discord-mock {
    margin: 15vh 15vh 15vh;
    background-color: #36393f;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.discord-mock img {
    --radius: 10vw;
    object-fit: fill;
    height: var(--radius);
    width: var(--radius);
    border-radius: 50%;
    align-self: center;
    padding: 20px;
}

.discord-mock button {
    align-self: center;
    font-size: 26px;
    border: none;
    background-color: #49494b;
    color: white;
    margin: 20px;
    padding: 5px 10px;
    border-radius: 8px;
}

.main-header {
    margin: 20px;
    font-size: 46px;
    text-align: left;
}

@media screen and (max-width: 1280px) {
    .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: var(--nav-size) 
            calc(90vh - calc(var(--nav-size) / 2)) 
            calc(50vh - calc(var(--nav-size) / 2)) 
            calc(50vh - calc(var(--nav-size) / 2)) 
            calc(20vh - calc(var(--nav-size) / 2));
    }

    .grid-item {
        display: flex;
        flex-direction: row;

        overflow-y: hidden;
        overflow-x: auto;
    }

    .navbar {
        grid-row: 1;
        grid-column: 1;
    }

    .body {
        grid-row: 2;
        grid-column: 1;
    }

    .features {
        grid-row: 3;
        grid-column: 1;
    }

    .documentation {
        grid-row: 4;
        grid-column: 1;
    }

    .footer {
        grid-row: 5;
        grid-column: 1;
    }
}

@media screen and (max-height: 500px) {
    .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: var(--nav-size) 
            calc(90vh - calc(var(--nav-size) / 2)) 
            calc(100vh - calc(var(--nav-size) / 2)) 
            calc(100vh - calc(var(--nav-size) / 2)) 
            calc(30vh - calc(var(--nav-size) / 2));
    }

    .discord-mock img {
        display: none;
    }
}